// Place all the styles related to the beautys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bg 3-1 pic - scrollmagic
#bg3-1{
	background-image: url('https://s-media-cache-ak0.pinimg.com/736x/4d/7c/e5/4d7ce5cec4caf29645c09d2857eef374.jpg');
  position: relative;

	height: 1200px;
	width: 1200px;
	left: 200px;
  background-repeat: no-repeat;
	z-index: 5;
	display: inline-block;
}












#bg3-2 {
  position: absolute;
  top: 1660px;
  left: 0px;
  width: 100%;

}


#bg3-3  {
  position: absolute;
  top: 1740px;
  left: 0px;
  width: 100%;
}
// inventing beauty pic
  #bg3-4 {
  position: relative;
	top: 5125px;
  left: 0px;
  width: 100%;
  }

  #bg3-5 {
  position: relative;
  top: 6360px;
  left: 340px;
}



.beauty-history {
  display: block;
  font-size: 2.3em;
  font-weight: bold;
  line-height: 38px;
}

.weirdes-beauty {
  font-size: 1.4em;

}








#bg1-4 {
  position: relative;
  top: 11040px;
  left: 0px;
	width: 200px;
	height: 200px;
}
